<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Loja_de_Jogos.Properties.Settings.LOJA_DE_JOGOSConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LOJA_DE_JOGOS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>